<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Card.js</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no, minimal-ui">
    <link href="https://cdn.omise.co/fonts/lato.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <div class="Container">
      <form id="card_form" class="CardForm">
        <%= image_tag "secure.png", class: "SecureIcon", width: "12", height: "16" %>
        <%= image_tag "close-modal.png", class: "CloseModal", id: "close_modal", width: "16", height: "16" %>
        <div class="MerchantImage"><img id="merchant_image"></div>
        <div class="MerchantName" id="merchant_name"></div>
        <div class="ErrorMessage" id="error_message"></div>
        <div class="FieldSet">
          <div class="Field"><input class="TextField" id="cardholder_name" type="text" x-autocompletetype="text" autocompletetype="text" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Card Holder's Name" autofocus=""></div>
          <div class="Field"><input class="TextField verify-card-number" id="card_number" type="tel" x-autocompletetype="cc-number" autocompletetype="cc-number" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Card number"></div>
          <div class="FieldGroup">
            <div class="Field"><input class="TextField half control" id="expiration_month" type="text" x-autocompletetype="off" autocompletetype="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="MM"></div>
            <div class="Field"><input class="TextField half control" id="expiration_year" type="text" x-autocompletetype="off" autocompletetype="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="YYYY"></div>
          </div>
          <div class="FieldGroup">
            <div class="Field"><input class="TextField third control" id="security_code" type="password" autocomplete="off" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="CVC" maxlength="4"></div>
            <div class="Field explain">You can find the security code<br>at the back of your card</div>
          </div>
        </div>
        <div class="FieldSet" id="location_fields" style="display:none;">
          <div class="Field"><input class="TextField" id="postal_code" type="text" x-autocompletetype="text" autocompletetype="text" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="Postal code"></div>
          <div class="Field"><input class="TextField" id="city" type="text" x-autocompletetype="text" autocompletetype="text" autocorrect="off" spellcheck="off" autocapitalize="off" placeholder="City"></div>
        </div>
        <div id="paynow" class="Button"><span id="submit_label">Pay now</span> THB <span id="amount"></span></div>
      </form>

      <footer class="Footer">
        <a href="https://www.omise.co/" target="_blank">
          Secure transaction by
          <img src="images/by-omise.png" height="10" width="30" alt="">
        </a>
      </footer>
    </div>
    <%= javascript_include_tag  "jquery" %>
    <script src="https://cdn.omise.co/omise.js"></script>
    <%= javascript_include_tag  "script" %>
  </body>
</html>
